 @import '../../setting';

 .board-columns {
     display: flex;
     margin: 0 $gap $gap 0;
     gap: 10px;
     overflow-x: auto;


     &::-webkit-scrollbar {
         -webkit-appearance: none;
     }

     &::-webkit-scrollbar :horizontal {
         height: 11px;
     }

     &::-webkit-scrollbar-thumb {
         background-color: rgba(255, 255, 255, .24);
         border-radius: 5px solid $list-bg-color;
     }

     .column-drop-preview {
         background-color: rgba(150, 150, 200, 0.1);
         border: 1px dashed #abc;
         margin: 5px 45px 5px 5px;
     }

     .add-new-column {
         width: 250px;
         //  height: 32px;
         line-height: 32px;
         padding: 5px 0 5px 15px;
         cursor: pointer;
         color: white;
         font-size: 15px;
         background-color: hsla(0, 0, 100, 0.24);
         margin-left: $gap;
         border-radius: $border-radius;
     }

     .content-add-column {
         margin-left: 10px;
         padding: 5px;
         width: 250px;
         background-color: hsla(0, 0, 100, 0.24);

         .group-btn {
             display: flex;
             align-items: center;
             margin-top: 10px;
             cursor: pointer;

             i.fa.fa-times.icon {
                 margin-left: 9px;
                 font-size: 25px;
                 color: white;
             }
         }
     }
 }