$board-bg-color: #0079bf;
$navbar-app-bg-color: #0067a3;
$navbar-board-bg-color: #0067a3;
$list-bg-color: #ebecf0;
$gap: 10px;
$column-header-height : 45px;
$column-footer-height : 36px;
$border-radius : 5px;
$card-border-radius : 3px;
$app-main-color:#333;